/* ------------------------ 
Breakpoint Usage:

.selector {
  color: red;
  @include breakpoint(desktop) { width: 50px; }
  @include breakpoint(mobile) { width: 100%; }
}
*/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 980px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 979px)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 767px)  { @content; }
  }
  @else if $point == s-mobile {
    @media (max-width: 480px)  { @content; }
  }
}
