<?php
header('P3P:CP="IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT"');
date_default_timezone_set('UTC');

/*********
        BEGIN: AppEng Environment Deploy Section
*********/
define('ENVIRONMENT', '#ENVIRONMENT#'); // 'LOCAL', 'DEV', 'QA', 'STAGE', 'PROD'
define('ENV_DOMAIN',  '');
define('ENV_SUBDOMAIN', '');
/*********
        END: AppEng Environment Deploy Section
*********/

/* aws */
define('AWS_CF_HOST', '');

/* mysql */
define('DB_HOST', '');
define('DB_DATABASE', '');
define('DB_USER', '');
define('DB_PASSWORD', '');
#define('DB_CA_CERT', ''); Leave this undefiend for 'LOCAL'

/* project specfic */

?>
